<%- include("header") -%>

    <section class="sec1 myMarge" id="ab-sec1">
      <div class="row justify-content-center">
        <div class="col-10 vimo">
          <h2>About Us</h2>
          <h3>Get to know us</h3>
          <button type="button" name="button"><a href="#">BROWSE PRODUCTS</a></button>
        </div>
      </div>
    </section>
    <section>
      <div class="row mr-0 three-blue justify-content-center">
        <div class="col-md-7 col-sm-9">
          <h2>Subscribe Our Newsletters</h2>
          <p class="mb-1">Enter your Email address and receive marketing emails, beautty news , offers and many more.</p>
        </div>

          <div class="row justify-content-center mr-0">
            <div class="col-9">
              <div class="row contain3">
                <div class="col-md-4">
                  <img src="pics/cosmetic-shop-icon.png" alt="shop logo">
                  <h4>Easy to Shop</h4>
                  <p>Everyone should have access to beauty regardless of where you are and how much you can spend</p>
                </div>

                <div class="col-md-4">
                  <img src="pics/icon-products.png" alt="shop logo">
                  <h4>Best Brands</h4>
                  <p>we stock incredible products from more than 500 brands. Everything is guaranteed 100% authentic</p>
                </div>

                <div class="col-md-4">
                  <img src="pics/icon-woman.png" alt="shop logo">
                  <h4>Good For Skin</h4>
                  <p>If there's one place to invest in your beauty routine, it's here. Get your skincare right, enything else'll follow</p>
                </div>
                <div class="col-md-1">

                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
    <section>
      <div class="three-part mt-5">
        <div class="row mr-0">
          <div class="col-md-6 im1">
            <img src="pics/ab1.jpg" class="wit100" alt="cosmetic-image">
          </div>
          <div class="col-md-6">
            <h2>Making Beauty Products Since 2008</h2>
            <p>Founded in 2008, Vim cosmo is Europe’s leading online premium beauty retailer. From must-have palettes to game-changing skincare, there’s over 30,000 products at your fingertips.That’s why we’re as independent and inclusive as possible</p>
            <a href="/shop" class="cuz-but0">BROWSE PRODUCTS</a>
          </div>
        </div>

        <div class="row mr-0">
          <div class="col-md-6" >
            <h2>Treat Yourself.</h2>
            <p>Try something new by exploring our website and we will help you find what works for you and your skin, with your top concerns in mind </p>
            <a href="#" class="cus-but">BROWSE PRODUCTS</a>
          </div>

          <div class="col-md-6" id="ab2">
          </div>
        </div>
      </div>

    </section>
    <div class="row ab-last mr-0 justify-content-center pt-5">
      <div class="col-md-6 col-sm-9">
        <h2>Trusted By Industry Leaders.</h2>
        <p>We spotted potential disruptive brands and partnered with them on their journey to value creation. These brands are Vim exclusive. </p>
      </div>
   </div>
   <section class="about-las">
     <h2 class="pt-5 pb-5">Why Choose Vim</h2>
     <div class="row mr-0">
       <div class="col-md-6">
        <p>Vim Cosmo is Europe’s leading beauty retailer, and to continue growing we need passionate people who share our values. </p>
        <p>We believe everyone should have access to beauty regardless of where you are, who you are and how much you can spend</p>
        <p>Vim is that go-to beauty friend, philosopher, 3 am friend and guide who is there to help you no matter what time it is or where you are. Always approachable and unfailingly reliable! “Wave your beauty concerns goodbye” </p>
        <p>Vim offers dedicated guides, tips & articles on most common concerns you face in your daily life and helps you to fix them.</p>
       </div>
       <div class="col-md-6 lil-sqs">
           <span class="lil-square"> <img src="pics/tick.svg" alt="tick icon">
            <h5>Is it difficult to find your favorite products? Say no more</h5>
            <p>Makeover is now just a click away. Not only you’ll be able to buy all your beauty products online at your own convenience, but also you’ll be buying them at the best price.</p>
          </span>

         <div class="lil-square">
           <img src="pics/tick.svg" alt="tick icon">
           <h5>Don’t know what you’re looking for? No problem.</h5>
           <p> Let your fingers do the talking. Just select the category you’re interested in and our beauty closet will show you what it has to offer.</p>
         </div>

         <div class="lil-square">
           <img src="pics/tick.svg" alt="tick icon">
           <h5>Skeptical about a product? Not a problem</h5>
           <p> Head to the product page and scroll down to the reviews section and see what Reena, Meena, Tina, Kareena & Nirma have to say about the product and their experience with it.</p>
         </div>

       </div>

     </div>
   </section>



<%- include("footer") -%>
