<%- include("header") -%>

    <section class="sec1 myMarge" id="co-sec1">
      <div class="row justify-content-center">
        <div class="col-10 vimo">
          <h2>Contact Vim</h2>
          <h3>Get In Touch</h3>
          <button type="button" name="button"><a href="#">BROWSE PRODUCTS</a></button>
        </div>
      </div>
    </section>
    <section id="coformblue">
      <div class="row con-sec4 mr-0 justify-content-center">
        <div class="col-md-6 pr-0">
          <div id="map">

          </div>
        </div>

        <div class="col-md-6 con-form">
        <h2>Drop Us a Message</h2>
      <form>
        <div class="form-group row mr-0 justify-content-center">
          <div class="col-lg-11" id="formcol">
              <input type="text" class="form-control con-form-i" id="validationCustom01" placeholder="Name" required>
            <input type="text" class="form-control con-form-i " id="staticEmail"  placeholder="EMAIL">
             <textarea class="form-control con-form-i" id="exampleFormControlTextarea1" placeholder="Message" rows="5"></textarea>
             <div class="leftali mt-4">
               <button class="btn btn-primary" type="submit">SUBMIT</button>

             </div>
          </div>
        </div>
      </form>
        </div>

      </div>
    </section>
    <div class="row mr-0 justify-content-center info-part">
<div class="col-10">
  <div class="row ml-0">
    <div class="col-lg-3 col-md-6">
      <h4>Location</h4>
      <p>22 Div Mountain,
  San Francisco, California</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <h4>Phone</h4>
      <p>+8801740376995</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <h4>Email</h4>
      <p>info@vimo.com</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <h4>Hours</h4>
      <p>Everyday: 8am-5pm</p>
    </div>
  </div>
 </div>

    </div>


    <script defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAweXf_c5mqYm4NZaWDk6O7g-DjLFddAls&callback=initMap">
       </script>
       <script type="text/javascript" src="map.js"></script>
<%- include("footer") -%>
