<%- include("header") -%>

    <section class="sec1 myMarge" id="sec1">
      <div class="row justify-content-center">
        <div class="col-10 vimo">
          <h1>Vim</h1>
          <h3>Beauty & Cosmetic Products</h3>
          <button type="button" name="button"><a href="/shop">BROWSE PRODUCTS</a></button>
        </div>
      </div>
    </section>
    <div class="three-part mt-5">
      <div class="row mr-0">
        <div class="col-md-6 im1">
          <img src="pics/im1.png" alt="cosmetic-image">
        </div>
        <div class="col-md-6">
          <h2>Made Only From Organic Materials</h2>
          <p>Look good and feel good—all our
formulas are 100% vegan, no animal testing
and made without the nasty bad-for-you
stuff. Totally guilt-free. <br /> free from phthalates, parabens, nony phenol ethoxylates,triclosan, triclocarban,and hydroquinone. All skincare is also free from sulfates.</p>
          <a href="/shop" class="cuz-but0">BROWSE PRODUCTS</a>
        </div>
      </div>

      <div class="row mr-0">
        <div class="col-md-6">
          <h2>Be Extra Without Paying Extra</h2>
          <p>We make quality products at get-real prices. Because we know beauty. we listen to you, your
feedback and reviews guide everything we do. you get the best of the beauty-verse without killing your wallet. </p>
          <a href="/shop" class="cus-but">BROWSE PRODUCTS</a>
        </div>

        <div class="col-md-6 im2">
        </div>

      </div>

      <div class="row mr-0">
        <div class="col-md-6 im3">
        </div>
        <div class="col-md-6 im4">
          <h2>Superfast Delivery System</h2>
          <p>We’re all about fast delivery, unbeatable customer service and simple returns. We ship to over 120 countries and counting. Plus, our loyalty programme provides some insane rewards for our VIP customers</p>
          <a href="/shop" class="cus-but">BROWSE PRODUCTS</a>
        </div>

      </div>
    </div>

    <section>
      <div class="row justify-content-center mr-0">
        <div class="col-9">
          <div class="row contain3">
            <div class="col-md-4">
              <img src="pics/cosmetic-shop-icon.png" alt="shop logo">
              <h4>Easy to Shop</h4>
              <p>Everyone should have access to beauty regardless of where you are and how much you can spend</p>
            </div>

            <div class="col-md-4">
              <img src="pics/icon-products.png" alt="shop logo">
              <h4>Best Brands</h4>
              <p> we stock incredible products from more than 500 brands. Everything is guaranteed 100% authentic</p>
            </div>

            <div class="col-md-4">
              <img src="pics/icon-woman.png" alt="shop logo">
              <h4>Good For Skin</h4>
              <p>If there's one place to invest in your beauty routine, it's here. Get your skincare right, enything else'll follow</p>
            </div>
            <div class="col-md-1">

            </div>
          </div>
        </div>
      </div>
    </section>

      <%- include("products") -%>

    </div>
      </div>
    </div>
    <div class="prdcts justify-content-center mb-5">
<button type="button" name="button" class="mb-3 mt-0"><a href="/shop">BROWSE ALL</a></button>
    </div>



    <section>
      <div class="row mr-0">
        <div class="col-md-6 im5">

        </div>
        <div class="col-md-6" id="em1">
          <h2>Have Dry, Dead Hair? Not Anymore.</h2>
          <p>Your hair is the crown you never take off. All hair craves a moisture injection, which is why choosing a luxurious shampoo, conditioner and treatment that’s tailored to your exact hair type is a must. Find the best hair care for you here.</p>
          <a href="/shop" class="cus-but">BROWSE PRODUCTS</a>
        </div>
      </div>
    </section>


<%- include("footer") -%>
