<%- include("header") -%>
<section class="sec1 myMarge" id="shop-sec1">
  <div class="row justify-content-center">
    <div class="col-10 vimo">
      <h2>Vim Shop</h2>
      <h3>Treat yourself</h3>
      <button type="button" name="button"><a href="#">BROWSE PRODUCTS</a></button>
    </div>
  </div>
</section>
<%- include("products") -%>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="pro-img sh4"></div>
              <h6 class="pro-title">Makeup Cleanser 150 ml</h6>
              <div class="star-rating">
                <img class="starr" src="pics/star.svg" alt="rating stars">
                <img class="starr" src="pics/star.svg" alt="rating stars">
                <img class="starr" src="pics/star.svg" alt="rating stars">
                <img class="star" src="pics/star.svg" alt="rating stars">
                <img class="star" src="pics/star.svg" alt="rating stars">
              </div>
              <span class="pr-price">£15.00</span>

            </div>
            <div class="col-lg-4 col-md-6">
              <div class="pro-img sh5"></div>
              <h6 class="pro-title">Beauty Pack EHO173</h6>
              <div class="star-rating">
                <img class="star" src="pics/star.svg" alt="rating stars">
                <img class="star" src="pics/star.svg" alt="rating stars">
                <img class="star" src="pics/star.svg" alt="rating stars">
                <img class="star" src="pics/star.svg" alt="rating stars">
                <img class="star" src="pics/star.svg" alt="rating stars">
              </div>
              <span class="pr-price">£35.00</span>

            </div>
            <div class="col-lg-4 col-md-6">
              <div class="pro-img sh6"></div>
              <h6 class="pro-title">Kevin Murpy 250 ml</h6>
              <div class="star-rating">
                <img class="starr" src="pics/star.svg" alt="rating stars">
                <img class="starr" src="pics/star.svg" alt="rating stars">
                <img class="starr" src="pics/star.svg" alt="rating stars">
                <img class="starr" src="pics/star.svg" alt="rating stars">
                <img class="starr" src="pics/star.svg" alt="rating stars">
              </div>
              <span class="pr-price">£7.00</span>

            </div>

          </div>

        </div>

      </div>
    </div>


<%- include("footer") -%>
